<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/assets/css/burger_styles.css" type="text/css" />
    <title>Eat da Burger!</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    {{!-- <script src="../assets/js/cats.js"></script> --}}
</head>

<body>
    <img src="../../public/assets/img/hamburger.png" width="400px" id="burgerImg">

    {{{ body }}}
</body>

</html>