<div class="container">
    <div class="row">
        <div class="col-md-6">
            available
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <div id="burgerBox">
                    {{burger_name}}
                    <button class="devourIt" data-id="{{id}}" data-devoured="{{devoured}}">
                        Devour it!
                    </button>
                </div>

                {{/unless}}
                {{/each}}
            </ul>


        </div>

        <div class="col-md-6">

            devoured

            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <div id="emptyPlate">
                    {{burger_name}}
                </div>

                {{/if}}
                {{/each}}
            </ul>
        </div>


    </div>

    <div class="row">
        <div class="col-md-12" <h2>Add a Burger</h2>
            <form class="create-form">

                <div class="form-group">
                    <label for="newBurger">Name of burger:</label>
                    <input type="text" id="newBurger" name="name">
                </div>


                <button type="submit">Add Burger</button>
            </form>
        </div>
    </div>

</div>

